@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Elsie+Swash+Caps&family=Quattrocento&display=swap");
/* font-family: 'Amatic SC', cursive;
font-family: 'Elsie Swash Caps', cursive;
font-family: 'Quattrocento', serif; */

/**************-------------- ROOT --------------**************/
body {
  background: radial-gradient(rgba(222, 43, 43, 0.797), rgba(83, 58, 114, 0.45)),
    url("./images/background3.png");
  font-family: "Elsie Swash Caps", cursive;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  background-position: center;
  /* background-size: cover; */
}
/**************-------------- WELCOME PAGE --------------**************/
#welcome_pg {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  background-image: url("./images/scroll.png");
  background-repeat: no-repeat;
  background-attachment: relative;
  background-size: cover;
  height: 57rem;
  padding: 4rem;
  background-position: center;
}
#welcome_txt {
  padding: 4rem;
  text-shadow: 0 0 3px #4e0082;
}
#welcome_txt h1 {
  text-shadow: 0 0 3px #3f0000;
  font-size: 3.8rem;
}
#entry-container {
  color: rgba(0, 0, 0, 0.479);
  text-shadow: 0 0 3px #ffffff;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 2.8rem;
  height: 180px;
}
#door-container {
  border-radius: 90%;
  background: radial-gradient(
    ellipse at center,
    rgba(51, 0, 255, 0.848) 0%,
    rgba(255, 255, 255, 0) 70%,
    rgba(255, 255, 255, 0) 100%
  );
}
.door {
  height: 18rem;
  position: fixed center;
}
.door:hover {
  cursor: grab;
  height: 18.5rem;
}
/**************-------------- LAB PAGE --------------**************/
.lab-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lab-container h1 {
  padding: 0.4rem;
}
.ingredients-container {
  z-index: 999999;
  height: 30vh;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 0.3rem;
}
.item-container {
  color: transparent;
  display: flex;
  flex-direction: column;
}
.item {
  height: 13vh;
}
.item:hover {
  background: radial-gradient(
    ellipse at center,
    rgba(51, 0, 255, 0.848) 0%,
    rgba(255, 255, 255, 0) 70%,
    rgba(255, 255, 255, 0) 100%
  );
  cursor: grab;
  color: white;
}
.item-container:hover {
  color: white;
}
.lower-pg {
  display: flex;
  flex-direction: row;
  position: absolute;
  padding: 14rem;
}
.cauldron-container {
  height: 50rem;
  width: 50rem;
  background-image: url("./images/cauldron.png");
  background-repeat: no-repeat;
  background-attachment: relative;
  background-size: cover;
  /* outline: solid rgb(109, 252, 0) 2px; */
}
.spell-container {
  height: 33rem;
  width: 60rem;
  background-image: url("./images/scroll.png");
  background-position: center top;
  background-size: 66vw;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* outline: yellow 2px solid; */
}
/**************-------------- SPELL FORM  PAGE --------------**************/
.item-f {
  margin: 1.5rem;
  margin: 3rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-f label {
  color: var(white);
  border-radius: 1em;
  outline: none;
  font-size: 2rem;
}
.item-f input {
  width: 12rem;
  font-size: 1.8rem;
  cursor: text;
  --glow-color: rgba(252, 248, 241, 0.598);
  --glow-spread-color: rgba(191, 123, 255, 0.115);
  --btn-color: rgba(220, 171, 193, 0.022);
  color: var(black);
  border: 0.00001em transparent var(--glow-color);
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  font-family: "Elsie Swash Caps", cursive;
}
#f-desc {
  width: 45rem;
}
#f-submit {
  cursor: pointer;
  --glow-color: rgba(255, 227, 176, 0.633);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --btn-color: rgb(136, 61, 95);
  border: 0.00001em transparent var(--glow-color);
  padding: 0.4rem;
  margin: 0.9rem;
  color: white;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  transition: all 0.3s;
  font-family: "Elsie Swash Caps", cursive;
  font-size: 2rem;
}
#f-submit:hover {
  margin: 3rem 0 0 0;
  background-color: var(--glow-spread-color);
  filter: blur(0.1em);
}
