@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Elsie+Swash+Caps&family=Quattrocento&display=swap");
/* font-family: 'Amatic SC', cursive;
font-family: 'Elsie Swash Caps', cursive;
font-family: 'Quattrocento', serif; */

/**************-------------- ROOT --------------**************/
body {
  background: radial-gradient(rgba(222, 43, 43, 0.797), rgba(83, 58, 114, 0.45)),
    url("./images/background3.png");
  font-family: "Elsie Swash Caps", cursive;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  background-position: center;
  /* background-size: cover; */
}
/**************-------------- WELCOME PAGE --------------**************/
#welcome_pg {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  background-image: url("./images/scroll.png");
  background-repeat: no-repeat;
  background-attachment: relative;
  background-size: cover;
  height: 57rem;
  padding: 4rem;
  background-position: center;
}
#welcome_txt {
  padding: 4rem;
  text-shadow: 0 0 3px #4e0082;
}
#welcome_txt h1 {
  text-shadow: 0 0 3px #3f0000;
  font-size: 3.8rem;
}
#entry-container {
  color: rgba(0, 0, 0, 0.479);
  text-shadow: 0 0 3px #ffffff;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 2.8rem;
  height: 180px;
}
#door-container {
  border-radius: 90%;
  background: radial-gradient(
    ellipse at center,
    rgba(51, 0, 255, 0.848) 0%,
    rgba(255, 255, 255, 0) 70%,
    rgba(255, 255, 255, 0) 100%
  );
}
.door {
  height: 18rem;
  position: fixed center;
}
.door:hover {
  cursor: grab;
  height: 18.5rem;
}
/**************-------------- LAB PAGE --------------**************/
.lab-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lab-container h1 {
  padding: 1rem;
}
.ingredients-container {
  height: 30vh;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 0.3rem;
  row-gap: -90rem;
}
.cauldron-container {
  height: 50rem;
  width: 40rem;
  background-image: url("./images/cauldron.png");
  background-repeat: no-repeat;
  background-attachment: relative;
  background-size: cover;
}
.item-container {
  /* width: 17vw; */
  color: transparent;
  display: flex;
  flex-direction: column;
}
.item {
  height: 12vh;
}
.item:hover {
  background: radial-gradient(
    ellipse at center,
    rgba(51, 0, 255, 0.848) 0%,
    rgba(255, 255, 255, 0) 70%,
    rgba(255, 255, 255, 0) 100%
  );
  cursor: grab;
  color: white;
}
.item-container:hover {
  color: white;
  z-index: 999999;
}
